body {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(164, 218, 235) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;

}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;

}
.logo img {
    height: clamp(70px, 9vw, 110px);
    cursor: pointer;
    margin-right: 60px;
}
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 40px; 
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links li {
    margin: 0; 
}
.nav-links a {
    display: flex;
    align-items: center;
    gap: 18px; 
    text-decoration: none;
    font-size: clamp(18px, 2.3vw, 26px);
    font-weight: 800;
    color: black;
    white-space: nowrap;
    transition: all 0.2s ease;
}
.nav-links a:hover {
    color: #ff0037;
    transform: scale(1.05);
}
.icon {
    height: 46px; 
    width: auto;
}

.bttn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #FFB8E0;
    color: #ffffff;
    font-size: clamp(16px, 2vw, 24px);
    padding: clamp(8px, 1.2vw, 12px) clamp(16px, 2.5vw, 20px);
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: all 0.2s ease;
    margin-left: auto; 
}
.bttn:hover {
    text-decoration: underline;
    transform: scale(1.05);
    box-shadow: 0 4px 10px #EC7FA9;
    color: #ff0037;
}

h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    color:#2c5d63;
    margin-top: 6%;
}
h2{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 25px;
}
p{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 20px;
}
li{
    text-align:left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    
    color: #34495e;
    line-height: 1.5;
    font-size: 20px;
}
h3{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 20px;
}

.pros{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 20px;
}
.cons{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 20px;

}
.risks{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: #34495e;
    line-height: 1.6;
    font-size: 20px;

}
.content img {
    width: 50%;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 40px auto;        
    text-align: center;      
}

.footer {
    background-color:#87CEEB;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.footer-left img {
    height: clamp(50px, 8vw, 100px);
    
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.footer-left,
.footer-right,
.footer-legal {
    padding: 0;
    flex: 1;
    min-width: 100px;
    text-align: center;
}
.footer-left h4 {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
    max-width: 300px;
    margin: 10px auto 0;
    text-align: center;
}
.footer-right h1,
.footer-legal h1 {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 24px;
}
.footer-right h3{
    color:#ffffff;
    text-align: center;
    font-size: 19px;
    line-height: 1;
}

.footer-right h3:hover,
.footer-legal li a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    cursor: pointer;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    margin: 5px 0;
}
.social-links a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    cursor: pointer;
}

.footer-legal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;      
    display: flex; 
}

.footer-legal li {
    margin-bottom: 0;
    font-size: 16px;
}
.footer-legal li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom {
    margin-top: 15px;
    text-align: center;
    opacity: 0.9;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid rgba(255,255,255,0.2); 
}
